name: Check formatting

on: [push, pull_request]

jobs:
  format-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: recursive
          fetch-depth: 1

      - name: Run clang-format style check
        uses: jidicula/clang-format-action@4726374d1aa3c6aecf132e5197e498979588ebc8 # v4.15.0
        with:
          clang-format-version: 20
          check-path: examples
          exclude-regex: '(Script_DumpProperties/picojson/|Script_RemoteControl/src/proto/|Script_RemoteControl/g3rc.proto)'
